*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    overflow: auto;
    text-decoration: none;
}

.orange_bar {
    position: relative;
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    background: #f48735;
}
.agoraReserva {
    margin-right: 50px;
    font-family: Helvetica;
    font-weight: lighter;
    height: fit-content;
    width: fit-content;
    color: #f1f1f1;
    cursor: pointer;
}
.agoraReserva:hover {
    color: black;
    transition: 0.5s;
}

.navigation_bar {
    position: absolute;
    display: inline-flex;
    align-items: center;
    background: aliceblue;
    height: 90px;
    width: 100%;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.168));
    z-index: 1;
}
.logo {
    position: static;
    left: 0%;
    height: 80px;
    margin-left: 120px;
    background: none;
}
.options_nav {
    position: static;
    background: none;
    display: flex;
    margin-right: 50px;
    width: 300px;
}
.insta,
.telefone,
.email {
    background: none;
    height: 40px;
    cursor: pointer;
    filter: grayscale(1);
}
.insta:hover,
.telefone:hover,
.email:hover {
    filter: grayscale(0);
    transition: 0.5s;
}

.menu-item {
    background: none;
    font-family: Helvetica;
    font-weight: lighter;
    height: fit-content;
    width: fit-content;
    color: black;
    cursor: pointer;
    
}
.menu-item {
    position: relative;
    width: 100%;
    height: 50px;
    top: 10px;
    padding: 12px;
}
.menu-item:hover {
    background-color: #ccc;
}
.menu {
    position: fixed;
    display: none;
    top: 90px;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    transition: left 0.4s;
}
.overlay_shadowForMenu {
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.25);
    transition: 0.4s;
}

.button_menu {
    position: relative;
    display: none;
    cursor: pointer;
    overflow: hidden;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    overflow: hidden;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

@media only screen and (max-width: 768px) {
    .navigation_bar {
        flex-direction: row-reverse;
        height: auto;
    }
    .button_menu {
        display: inline-block;
        margin-left: 50px;
    }
    .logo {
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        transform: translate(-60%, 0%);
    }
    .orange_bar, .options_nav {
        display: none;
    }
    .menu {
        display: block;
    }
    .menu-item{
        font-weight: bolder;
    }
}
