*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: auto;
}
.navigation_bar {
    position: absolute;
    display: flex;
    background: linear-gradient(rgb(162, 71, 204), rgb(198, 55, 226));
    height: 150px;
    width: 100%;
    z-index: 1;
}
.logo {
    position: relative;
    top: 50%;
    height: 120px;
    transform: translate(-100%, -50%);
    cursor: pointer;
}

.about_buttom {
    position: relative;
    height: 25px;
    top:50%;
    transform: translate(100%, -75%);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: normal;
}